# ./.env.development
# Get these values at https://manage.auth0.com
GATSBY_AUTH0_DOMAIN=dev-cookiemon.us.auth0.com
GATSBY_AUTH0_CLIENTID=SUNNYDAYEVERYTHINGAOK
GATSBY_AUTH0_CALLBACK=https://ss.ngrok.io/
GATSBY_STUDY_ANSWER=37483
GATSBY_PUB_ANSWER='010100101'
GATSBY_LIBRARY_ANSWER=secure
GATSBY_OFFICE_ANSWER=fast
GATSBY_SAFE_ANSWER=2858810
ZAPIER_URL=https://hooks.zapier.com/hooks/catch/142386/oz3fyyv/
FAUNADB_SERVER_SECRET=fnADwGFQr8ACDeCtSOt_SuW1m0v6BqRgbLBfzb_e
GATSBY_PRINTFECTION_KEY=1d2edbfb79a09915eae4e6e16de787d4f972f01c
